@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
}
.navbar {
  z-index: 20;
  border-bottom: 4px solid #1a3676;
}
.navLinks > a {
  color: #1a3676cb;
  transition: transform 0.5s ease;
}
.navLinks > a:hover {
  color: #1a3676;
  text-decoration: none;
  transform: scale(1.2);
}
.navLinks > a.active {
  transform: scale(1.3);
  color: #1a3676;
  text-decoration: 2px underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2em;
}
.slider-container {
  max-width: 97vw;
  margin: 0 auto;
}
.slider-image {
  width: 100%;
}
.quoteCard {
  justify-content: center;
  display: flex;
  color: #1a3676;
  font-weight: bold;
  flex-direction: column;
  border: 1px solid #1a3676;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.quoteCard:hover {
  transform: scale(1.1);
  border-width: 2px;
}
.generateQuoteCard {
  justify-content: center;
  display: flex;
  color: #1a3676;
  font-weight: bold;
  flex-direction: column;
  border: 1px solid #1a3676;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px;
  transition: transform 0.5s ease;
}
.generateQuoteCard:hover {
  transform: scale(1.1);
  border-width: 2px;
}
.generateQuoteCard .copy {
  border-radius: 50%;
}
.singleQuote {
  border: 2px solid #1a3676;
  margin: auto;
  padding: 20px;
}
/* ************************************************* signUp/logIn page css**************************************** */
.blueFirst {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.blueFirst svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 150vh;
  z-index: 1;
}

.blueFirst .shape-fill {
  fill: #1a3676;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .blueFirst svg {
    width: calc(221% + 1.3px);
    height: 150vh;
    z-index: 1;
  }
  .blueFirst {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .blueFirst svg {
    position: relative;
    display: block;
    width: calc(220% + 1.3px);
    height: 140vh;
    z-index: 1;
  }
}
.smallNavbar {
  border-bottom: 3px solid #1a3676;
}

.blueSecond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.blueSecond svg {
  position: relative;
  display: block;
  width: calc(223% + 1.3px);
  height: 120vh;
  z-index: 1;
}

.blueSecond .shape-fill {
  fill: #bee3f8;
}

/** For mobile devices **/

@media (max-width: 767px) {
  .blueSecond svg {
    width: calc(251% + 1.3px);
    height: 500px;
  }
  .blueSecond {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .blueSecond svg {
    position: relative;
    display: block;
    width: calc(223% + 1.3px);
    height: 110vh;
    z-index: 1;
  }
}
.blueFour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.blueFour svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.blueFour .shape-fill {
  fill: #1a3676;
}

/** For mobile devices **/

@media (max-width: 767px) {
  .blueFour svg {
    position: relative;
    width: calc(100% + 1.3px);
    display: block;
    height: 300px;
  }
  .blueFour {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .blueFour .shape-fill {
    fill: #bee3f8;
  }
}

/* *****************************generate/SingleQuote page css***************************************** */

.quoteFirst {
  border-top: 2px solid #bee3f8;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.quoteFirst svg {
  position: relative;
  display: block;
  width: calc(214% + 1.3px);
  height: 40vh;
  z-index: 1;
  transform: rotateY(180deg);
}

.quoteFirst .shape-fill {
  fill: #1a3676;
}
@media (max-width: 767px) {
  .quoteFirst {
    border-top: 3px solid #bee3f8;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
}
.quoteSecond {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #ebf8ff;
}

.quoteSecond svg {
  position: relative;
  display: block;
  width: calc(199% + 1.3px);
  height: 30vh;
  z-index: 1;
  transform: rotateY(180deg);
}

.quoteSecond .shape-fill {
  fill: #bee3f8;
}
/* ****************************home section1 page */

.homeSection1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.homeSection1 svg {
  position: relative;
  display: block;
  width: calc(216% + 1.3px);
  height: 25vh;
  transform: rotateY(180deg);
}

.homeSection1 .shape-fill {
  fill: #bee3f8;
}

.aboutWave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}


.aboutWave .shape-fill {
  fill: #bee3f8;
}
@media (max-width: 767px) {
  .homeSection1 {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .aboutWave {
    top: 63px;
    
  }
  .aboutWave svg {
    position: relative;
    display: block;
    width: calc(239% + 1.3px);
    height: 40px;
    transform: rotateY(180deg);
  }
}
